/*
FONTS 
		font-family: "St Ryde Light";
		font-family: "St Ryde Light Italic";
		font-family: "St Ryde Medium";
		font-family: "St Ryde Medium Italic";
		font-family: "St Ryde Bold";
		font-family: "St Ryde Bold Italic";

COLORS
		gray: #566271
		orange: #F26A21
		green: #C6D930
		blue: #A8DCD9
		red: #C44D58
*/


.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}