/* =================

COLORS
gray: #566271
orange: #F26A21
green: #C6D930
blue: #A8DCD9
red: #C44D58

================= */

@font-face {
    font-family: 'St Ryde W03 Light';
    font-style: bold;
    font-weight: bold;
    src: local('SSt Ryde W03 Light'), url('client/public/assets/fonts/st-ryde-cufonfonts-webfont/St Ryde W03 Light.woff') format('woff');
}

@font-face {
    font-family: 'St Ryde W03 Bold';
    font-style: bold;
    font-weight: bold;
    src: local('SSt Ryde W03 Bold'), url('client/public/assets/fonts/st-ryde-cufonfonts-webfont/St Ryde W03 Bold.woff') format('woff');
}


@font-face {
    font-family: 'St Ryde W03 Medium';
    font-style: bold;
    font-weight: bold;
    src: local('SSt Ryde W03 Medium'), url('client/public/assets/fonts/st-ryde-cufonfonts-webfont/St Ryde W03 Medium.woff') format('woff');
}

body {
    background-color: #A8DCD9;
    font-family: 'St Ryde W03 Medium';
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #566271;
}

h1 {
    font-size: 3rem;
    font-family: 'St Ryde W03 Bold';
    color: #566271;
}

.navbar {
    background-color: #F26A21 !important;
    border-bottom: 3px solid #fff;
    padding: 0;
    margin: 0;
}

.navbar-brand {
    margin: 0;
}

.nav-link.active {
    background-color: #C6D930 !important;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar img {
    height: 2rem;
    margin: .75rem 1.25rem .75rem .75rem;
}

.navbar-logo-light {
    opacity: 20%;
}

.content {
    flex-grow: 1;
}

.btn {
    background-color: #566271;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: #424b57;
}

.btn:active,
.btn:focus,
.form-control:active,
.form-control:focus,
.custom-file-input:active,
.custom-file-input:focus {
    border-color: rgba(86, 98, 113, .5);
    box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
}

.btn-dropdown {
    background-color: #fff !important;
    border:none;
    color: #566271;
    text-align: left;
}

.btn-dropdown:hover {
    color: #566271;
}

.btn-dropdown:active,
.btn-dropdown:focus {
    color: #566271;
    border-color: rgba(86, 98, 113, .5);
    box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
}

.jumbotron {
    background-color: #A8DCD9;
}

.jumbotron .logo {
    width: 15%;
    margin: 0px auto;
}

.header {
    font-family: 'St Ryde W03 Bold' !important;
    color: #566271;
    font-size: 10vw;
    line-height: 1.25;
    max-width: 90%;
}

.credentials {
    max-width: 40%;
    margin: 0rem auto;
}

.form-control,
.custom-file {
    margin: 0 auto 25px auto !important;
    font-family: 'St Ryde W03 Light';
}

.loginButtons {
    display: flex;
}

#buttonLogIn,
#buttonSignUp {
    flex-grow: 1;
}

#buttonLogIn:hover,
#buttonSignUp:hover,
#buttonLogIn:focus,
#buttonSignUp:focus,
#buttonpublish:hover,
#buttonpublish:focus {
    background-color: #424b57;
}

#buttonLogIn {
    margin-right: 10px;
}

#buttonSignUp {
    margin-left: 10px;
}

#buttonRegister,
#buttonpublish {
    margin: 0;
    width: 100%;
}

.headline {
    background-color: transparent;
    border: none;
    margin: 2rem auto;
}

.headline img {
    height: 6rem;
}

label {
    font-size: 1.1rem;
    margin-top: 5px;
    margin-bottom: 2px;
}

footer {
    background-color: #F26A21 !important;
    margin-top: 3rem;
    border-top: 3px solid #fff;
    font-family: 'St Ryde W03 Bold';
    color: #fff;
    text-align: center;
    padding: 15px;
    display: block;
    overflow: auto;
}

footer p {
    opacity: 20%;
    margin: 0;
}

.projects-header {
    margin: 40px 0 40px 0;
}

.card-header {
    background: #F26A21;
    color: #fff;
}

/* =================

MEDIA QUERIES

================= */

/* small devices (phones, 728px and down) */
@media only screen and (max-width: 728px) {
    

    .jumbotron .logo {
        width: 20%;
        margin: 2rem auto 0 auto;
    }

    .header {
        font-size: 15vw;
        line-height: 1.5;
    }

    .credentials {
        max-width: 60%;
    }

    .loginButtons {
        display: block;
    }

    #buttonLogIn,
    #buttonSignUp {
        display: block;
        width: 100%;
        margin: 1rem auto;
    }

}